<div id="sideBar" class="ms-bgColor-themeLight sideBarHide">
    <search-box [(search-text)]="$ctrl.filterString" [filter]="$ctrl.tagName" (filter-removed)="$ctrl.removeTagClicked()"></search-box>
    <ul class="ms-List resultList">
        <div ng-repeat="item in filteredList = ($ctrl.list | filter:$ctrl.filterString)" class="cListItem is-selectable" ng-click="$ctrl.listItemClicked(item)">
            <span class="cListItem-primaryText ms-Font-xl">{{item}}</span>
        </div>
        <div ng-show="$ctrl.loading" class="ms-Spinner"></div>
        <div ng-show="$ctrl.loaded && filteredList.length==0" class="ms-Font-xl">没有符合条件的结果</div>
    </ul>
</div>