<div class="ms-Panel">
    <div class="ms-Overlay ms-Overlay--dark ms-PanelAction-close"></div>
    <div class="ms-Panel-main">
        <div class="ms-Panel-commands">
            <div class="ms-CommandBar">
                <div class="ms-CommandBar-sideCommands">
                </div>
                <div class="ms-CommandBar-mainArea">

                    <div class="ms-CommandBarItem ms-PanelAction-close">
                        <div class="ms-CommandBarItem-linkWrapper">
                            <div class="ms-CommandBarItem-link">
                                <span class="ms-CommandBarItem-icon ms-Icon ms-Icon--x"></span>
                                <span class="ms-CommandBarItem-commandText ms-font-m ms-font-weight-regular">取消</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ms-Panel-contentInner">
            <span class="ms-Panel-headerText">分享</span>
            <p class="ms-font-m">
                分享到：
            </p>
            <!-- JiaThis Button BEGIN -->
            <div class="jiathis_style_32x32">
                <a class="jiathis_button_qzone"></a>
                <a class="jiathis_button_tsina"></a>
                <a class="jiathis_button_tqq"></a>
                <a class="jiathis_button_weixin"></a>
                <a class="jiathis_button_renren"></a>
                <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                <a class="jiathis_counter_style"></a>
            </div>
            <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
            <!-- JiaThis Button END -->
        </div>
    </div>
</div>