@media (max-width:700px) {
    #logoRegion{
        display: none;
        width:40px;
    }
    #hamburgerButton{
        display:block;
        position: absolute;
        left:0px;
        top:0px;
        width:40px;
        height:40px;
        padding-top: 5px;
        padding-left:5px;
    }
    #commandRegion{
        left: 40px;   
    }
    #sideBar {
        z-index:2;
        width:100%;
    }
    #sideBar.sideBarHide  {
        display: none;
    }
    .filterSearch {
        width:100%;
    }

    #mainPane {
        left:0px;
        z-index:1;
    }
    
    .slideRightIn40 {
      -webkit-animation-name: fadeIn, slideRightIn40;
              animation-name: fadeIn, slideRightIn40;
      -webkit-animation-duration: 0.367s;
         -moz-animation-duration: 0.367s;
          -ms-animation-duration: 0.367s;
           -o-animation-duration: 0.367s;
      -webkit-animation-timing-function: cubic-bezier(0.1, 0.9, 0.2, 1);
              animation-timing-function: cubic-bezier(0.1, 0.9, 0.2, 1);
      -webkit-animation-fill-mode: both;
              animation-fill-mode: both;
    }
    
    @-webkit-keyframes slideRightIn40 {
      from {
        -webkit-transform: translate3d(-40px, 0px, 0px);
      }

      to {
        -webkit-transform: translate3d(0px, 0px, 0px);
      }
    }

    @keyframes slideRightIn40 {
      from {
        -webkit-transform: translate3d(-40px, 0px, 0px);
                transform: translate3d(-40px, 0px, 0px);
      }

      to {
        -webkit-transform: translate3d(0px, 0px, 0px);
                transform: translate3d(0px, 0px, 0px);
      }
    }
    .slideLeftOut40 {
      -webkit-animation-name: fadeOut, slideLeftOut40;
              animation-name: fadeOut, slideLeftOut40;
      -webkit-animation-duration: 0.167s;
         -moz-animation-duration: 0.167s;
          -ms-animation-duration: 0.167s;
           -o-animation-duration: 0.167s;
      -webkit-animation-timing-function: cubic-bezier(0.1, 0.25, 0.75, 0.9);
              animation-timing-function: cubic-bezier(0.1, 0.25, 0.75, 0.9);
      -webkit-animation-fill-mode: both;
              animation-fill-mode: both;
    }
    @-webkit-keyframes slideLeftOut40 {
      from {
        -webkit-transform: translate3d(0, 0px, 0px);
      }

      to {
        -webkit-transform: translate3d(-40px, 0px, 0px);
      }
    }

    @keyframes slideLeftOut40 {
      from {
        -webkit-transform: translate3d(0, 0px, 0px);
                transform: translate3d(0, 0px, 0px);
      }

      to {
        -webkit-transform: translate3d(-40px, 0px, 0px);
                transform: translate3d(-40px, 0px, 0px);
      }
    }

}