.ms-ListItem.is-selectable:hover:before {
    display:none;
}

.headerCommands.ms-CommandBar-mainArea {
  padding-left: 0px;
}

.headerCommands.ms-CommandBarItem-icon {
    line-height: 39px;
}

@media only screen and (min-width: 1024px) {
  .headerCommands.ms-CommandBar-mainArea {
    padding-left: 0px;
  }
}