<html lang="ch-ZHT">
    <head>
        <meta charset="utf-8">
        <link href="vendor/fabric/fabric.css" type="text/css" rel="stylesheet" />
        <link href="vendor/fabric/fabric.components.css" type="text/css" rel="stylesheet" />
        <link href="css/index.css" type="text/css" rel="stylesheet" />  
    </head>
    <body ng-app="app">
        <div ng-controller="headerCtrl" id="headerBar" class="ms-bgColor-themeTertiary" ng-include="'template/header.tpl.html'">
            
        </div>
        <div id="mainContainer">
            <div id="sideBar" ng-controller="sidebarCtrl">
                <ul class="ms-font-m">
                    <li ng-repeat="item in list" ng-click="listItemClicked(item)"><a class="ms-Link" href="#">{{item}}</a></li>
                </ul>
            </div>
            <div id="mainPane" ng-controller="mainCtrl">          
                <div ng-include=" detailMode && 'template/showDetails.tpl.html' || 'template/welcome.tpl.html' "></div>
            </div>
        </div>
        <script src="vendor/howlerjs/howler.js"></script>
        <script src="vendor/angular/angular.js"></script>
        <script src="js/utils.js"></script>
        <script src="js/app.js"></script>
        <script src="js/sidebarCtrl.js"></script>
    </body>
</html>