<div style="padding:20px">

    <h1 class="ms-font-su ms-fontColor-themePrimary">下载 App</h1>
    <h2 class="ms-font-xl ms-fontColor-themePrimary">福州话熟语大全 Android 版</h2>
    <div class="ms-font-l ms-fontColor-themePrimary">
        <ul>
        <li>离线发音，无需联网</li>
            <li>轻松分享字图到社交软件</li>
        </ul>
        <a href="http://idioms.mindong.asia/assets/android.apk" target="_blank"><button class="ms-Button ms-Button--primary"><span class="ms-Button-icon"><i class="ms-Icon ms-Icon--plus"></i></span> <span class="ms-Button-label">下载Apk</span> </button></a>
    </div>
    <h2 class="ms-font-xl ms-fontColor-themePrimary">iOS 版 开发中</h2>
</div>