<div id="logoRegion"  class="ms-bgColor-themePrimary">
                <div class="ms-font-xxl ms-fontColor-themeLighter">福州话熟语大全</div>
            </div>
<a href="#"><div id="hamburgerButton" ng-click="hamburgerClicked()" class="ms-bgColor-themePrimary">
                <div class="ms-font-xxl ms-fontColor-themeLighter"><i class="ms-Icon ms-Icon--menu"></i></div>
    </div></a>
<div id="commandRegion">
    <div class="ms-CommandBar" ng-init="init()">
        <div class="ms-CommandBar-sideCommands">
            <div class="ms-CommandBarItem">
                <div class="ms-CommandBarItem-linkWrapper">
                    <a class="ms-CommandBarItem-link" tabindex="1"><span class="ms-CommandBarItem-icon ms-Icon ms-Icon--star"></span> <span class="ms-CommandBarItem-commandText ms-font-m ms-font-weight-regular">收藏夹</span></a>
                </div>
            </div>
            <div class="ms-CommandBarItem">
                <div class="ms-CommandBarItem-linkWrapper">
                    <a class="ms-CommandBarItem-link" tabindex="1"><span class="ms-CommandBarItem-icon ms-Icon ms-Icon--question"></span> <span class="ms-CommandBarItem-commandText ms-font-m ms-font-weight-regular">关于</span></a>
                </div>
            </div>
        </div>
        <div class="ms-CommandBar-mainArea">
            <div class="ms-CommandBarItem" ng-click="homeClicked()">
                <div class="ms-CommandBarItem-linkWrapper">
                    <a class="ms-CommandBarItem-link" tabindex="1"><span class="ms-CommandBarItem-icon ms-Icon ms-Icon--home"></span> <span class="ms-CommandBarItem-commandText ms-font-m ms-font-weight-regular">首页</span></a>
                </div>
            </div>
            <div class="ms-CommandBarItem">
                <div class="ms-CommandBarItem-linkWrapper">
                    <a class="ms-CommandBarItem-link" tabindex="1"><span class="ms-CommandBarItem-icon ms-Icon ms-Icon--waffle"></span> <span class="ms-CommandBarItem-commandText ms-font-m ms-font-weight-regular">分类</span></a>
                </div>
            </div> 
            <!-- Overflow Command -->
            <div class="ms-CommandBarItem ms-CommandBarItem--iconOnly ms-CommandBarItem-overflow">
                <div class="ms-CommandBarItem-linkWrapper">
                    <a class="ms-CommandBarItem-link" tabindex="2"><span class="ms-CommandBarItem-icon ms-Icon ms-Icon--ellipsis"></span> <span class="ms-CommandBarItem-commandText ms-font-m ms-font-weight-regular">Ellipsis</span> <i class="ms-CommandBarItem-chevronDown ms-Icon ms-Icon--chevronDown"></i></a>
                </div>
                <ul class="ms-CommandBar-overflowMenu ms-ContextualMenu"></ul>
            </div>
            <!-- End Overflow Command -->
        </div>
    </div>

</div>
    