<div style="padding:20px">

    <h1 class="ms-font-su ms-fontColor-themePrimary">帮助</h1>
    <h2 class="ms-font-xl ms-fontColor-themePrimary">简介</h2>
    <p class="ms-font-l">
    福州是一个千年古城，唐代以来它一直是福建的首府。(福州话)有鲜明的特色和丰富的文化积淀。
    本地人可以琅琅上口，勾起依稀的记忆而倍觉亲切；语言学家可以获得最宝贵的语料去探讨这一古老闽语的语音、语义和语法的各种规律；历史学家、社会学家可以研究其中所体现的社会文化；文学家可以看到方言的艺术创造……     ——李如龙（《福州方言熟语歌谣》序）</p>
    <p class="ms-font-l">
    “君子安雅，楚人安楚”，福州人说福州话。语言是文化的载体……熟语歌谣是方言文化遗产的自然结晶，其价值是弥足珍贵的。     ——陈泽平（《福州方言熟语歌谣》前言）
    </p>
    <h2 class="ms-font-xl ms-fontColor-themePrimary">使用说明</h2>
    <p class="ms-font-l"><b>查询</b> 您可以通过左侧的列表（手机上点击左上角），搜索全部的熟语。</p>
    <p class="ms-font-l"><b>发音</b> 在详情页上，句子下方有播放按钮，点击即可播放。</p>
    <p class="ms-font-l"><b>分享</b> 点击界面上的<i class="ms-Icon ms-Icon--share"></i>即可将词条分享给好友。您也可以直接复制网址。</p>
    <h2 class="ms-font-xl ms-fontColor-themePrimary">资料来源</h2>
    <p class="ms-font-l">《福州方言熟语歌谣》陈泽平 福建人民出版社</p>
    <h2 class="ms-font-xl ms-fontColor-themePrimary">关于此应用</h2>
    <p class="ms-font-l">此应用受到萌典 (moedict.tw) 的启发而开发。</p>
    <h2 class="ms-font-xl ms-fontColor-themePrimary">关于开发者</h2>
    <p class="ms-font-l"><a href="http://lab.mindong.asia" target="_blank" class="ms-Link">闽东语实验室 (lab.mindong.asia)</a> 是一个致力于用技术力量保护闽东语的开源社群。</p>
</div>