<div id="contentWrapper">
    <div id="detailsHeader">
        <div class="ms-font-su">
            <span ng-repeat="char in field_text track by $index" ng-class="{highlight: highlight[$index]}"><a ng-hide="char.imgsrc">{{char.text}}</a><img ng-src="{{char.imgsrc}}" height="42" width="42" style="position:relative; top:4px" ng-show="char.imgsrc"/></span>
             <span ng-init="initShare()" class="shareButton ms-PanelAction-open"><i class="ms-Icon ms-Icon--share"></i></span>
        </div>
        <div>
            <span class="ms-font-l ms-bgColor-redDark ms-fontColor-neutralLighter playLabel">发音</span>
            <button class="ms-Button ms-Button--hero " ng-click="playButtonClicked(result['field_audio'])"><span class="ms-Button-icon"><i class="ms-Icon ms-Icon--play"></i></span> <span class=" ms-Button-label">福州鼓楼音</span> </button>
            
        </div>
    </div>
    <div id="detailsWrapper">
        <div ng-show="result['field_metaphor'].length>0">
            <span class="ms-font-l ms-bgColor-redDark ms-fontColor-neutralLighter charsymbol">喻</span>
            <span class="ms-font-l">{{::result['field_metaphor']}}</span>
        </div>
        <p></p>
        <div ng-show="result['field_notes'].length>0">
            <span class="ms-font-l ms-bgColor-redDark ms-fontColor-neutralLighter charsymbol">案</span>
            <span class="ms-font-l">{{::result['field_notes']}}</span>
        </div>
        
    
        <h2 class="ms-font-xl ms-fontWeight-semibold">单字注释：</h2>
        <ul class="ms-font-l">
            <li ng-mouseenter="highOn($index)" ng-mouseleave="highOff($index)" ng-repeat="item in ::result['field_annotations'] track by $index"><span ng-class="{highlight: highlightAnno[$index]}">{{::item["text"]}}</span><span>: </span><span>{{::item["explanation"]}}</span> </li>
        </ul>
        <div>
            <button ng-repeat="tag in ::result['field_tags']" class="ms-Button ms-Button--primary" ng-click="tagClicked(tag)">
                <span class="ms-Button-icon">
                    <i class="ms-Icon ms-Icon--plus"></i>
                </span> 
                <span class="ms-Button-label">{{::tag}}</span> 
            </button>
        </div>
                   
    </div>
</div>



 