<div style="display:flex; flex-direction:row;">
    <div class="tagButton" ng-class="{'tagButton-hide':!(tagName.length)}"style="order:1">
        <div class="tagButton-text ms-Font-m">
            {{tagName}}
        </div>
        <div ng-click="removeTagClicked()" class="tagButton-removeButton">
            <i class="ms-Icon ms-Icon--x"></i>
        </div>    
        
    </div>
    <div class="filterSearch ms-SearchBox" style="order:2; flex-grow:100;" ng-init="init()">
      <input class="ms-SearchBox-field SearchBox" ng-model="filterString">
      <label class="ms-SearchBox-label"><i class="ms-SearchBox-icon ms-Icon ms-Icon--search"></i>搜索</label>
      <button class="ms-SearchBox-closeButton"><i class="ms-Icon ms-Icon--x"></i></button>
    </div>
</div>
<ul class="ms-List resultList">
    {{filterString}}
<div ng-repeat="item in filteredList = (list | filter:filterString)" class="cListItem is-selectable" ng-click="listItemClicked(item)">
  <span class="cListItem-primaryText ms-Font-xl">{{item}}</span>
</div>
    <div ng-show="loading" class="ms-Spinner"></div>
<div ng-show="loaded && filteredList.length==0" class="ms-Font-xl">没有符合条件的结果</div>

    
</ul>