    <div class="ms-SearchBox" ng-init="init()">
      <input class="ms-SearchBox-field SearchBox" ng-model="filterString">
      <label class="ms-SearchBox-label"><i class="ms-SearchBox-icon ms-Icon ms-Icon--search"></i>Search</label>
      <button class="ms-SearchBox-closeButton"><i class="ms-Icon ms-Icon--x"></i></button>
    </div>

<ul class="ms-List" style="height:90%; overflow-y:auto">
<div ng-repeat="item in list | filter:filterString" class="cListItem is-unseen is-selectable" ng-click="listItemClicked(item)">
  <span class="cListItem-primaryText ms-Font-xl">{{item}}</span>
</div>

</ul>
