<div style="padding:40px">
    <div class="ms-Grid">
        <div class="ms-Grid-row">
            <div class="ms-Grid-col ms-u-sm12 imgLogoWrapper">
                <img class="imgLogo" src="assets/img/logo-310.png" alt="Logo"/>
                <h1 class="ms-font-su ms-fontColor-themePrimary logoText-font-mobile">福州话熟语大全</h1>
            </div>
        </div>
        <div class="ms-Grid-row">
            <div class="ms-Grid-col ms-u-sm12 ms-u-lg4">
                <div ng-click="featureClicked(1)" class="featureButton ms-bgColor-themeLighter">
                    <i class="ms-Icon ms-Icon--listgroup2 ms-fontColor-themePrimary featureButton-icon" ></i>
                    <div class="ms-Font-l featureButton-text ms-fontColor-themeDarkAlt">所有熟语</div>
                </div>
            </div>
            <div class="ms-Grid-col ms-u-sm12 ms-u-lg4">
                <div ng-click="featureClicked(2)" class="featureButton ms-bgColor-themeLighter">
                    <i class="ms-Icon ms-Icon--tag ms-fontColor-themePrimary featureButton-icon" ></i>
                    <div class="ms-Font-l featureButton-text ms-fontColor-themeDarkAlt">分类标签</div>
                </div>
            </div>
            <div class="ms-Grid-col ms-u-sm12 ms-u-lg4">
                <div ng-click="featureClicked(3)" class="featureButton  ms-bgColor-themeLighter">
                    <i class="ms-Icon ms-Icon--question ms-fontColor-themePrimary featureButton-icon" ></i>
                    <div class="ms-Font-l featureButton-text ms-fontColor-themeDarkAlt">帮助</div>
                </div>
            </div>
        </div>
    </div>
</div>
